{% extends "layout.html" %}
{% block subtitle %} Working {% endblock %}
{% block includes %} 
    <script type="text/javascript">
    $(document).ready( function () {
        $('#navbar ul li:eq(3)').addClass('active')
    });
    </script>

    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script> #}
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.v2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/exampleRun.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<p> Working page </p>


{% endblock %}
